
header{
	background-color: lightcoral;
	padding: 25px;
	height: 50px;
    color:black;
}
section{
    float:left;
    text-align: center;
    font-weight:bold;
    font-size:18px;
    background-color: brown;
    height:494px;
    width:23%;
}
.logostyle{
    background-color:lightcoral;
    text-align: center;
    font-weight:14px;
    border:2px solid blueviolet;
    border-radius: 9px;
}
.inlinecontainer{
    margin:5px;
    text-align: center;
    height:150px;
    width:31%;
    display:inline-block;
    font-weight: bold;
    font-size:20px;
    padding:50px;
    font-family:Arial;
    background-color: lightslategray;
}
.inlinestyle{
    margin:5px;
    text-align: center;
    height: 130px;
    width:18.5%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding:47px;
    font-family: Arial;
    background-color: limegreen;

}
footer{
    text-align:center;
    font-weight:bold;
    font-size: 20px;
    background-color:lightcoral;
    height:250px;
    padding:10px;
}
    


	
	



